page-login {
    img {
        max-width: 30%;
        border: 0;
        display: block;
        margin: auto;
      }

      #botao-login {
      background-color: #FF8C00;
    }

    .scroll-content {
        display: inline;
        top: 100px;
    }

}
