<!--
  Generated template for the MensagensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>mensagens</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div >
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="message != null">
      <ion-item *ngFor="let item of message" (click)="openExibirMensagem(item)">
        <h2>{{item}}</h2>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
    <p *ngIf= "!message.length || message == null">nenhuma mensagem foi encontrada</p>
      </ion-item>
  </ion-list>
  </div>
</ion-content>
