

.toolbar-background-md {
    color: #4a8bfc;
    border-color:#4a8bfc;
    background:#4a8bfc;
  }  

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color:white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:white;
    background-color: transparent;
}

.card-perfil {
    border-radius: 5%;
    background-color: #D3D3D3;
  }
  a ion-label,
  button ion-label {
    pointer-events: none;
    background-color: #D3D3D3;
  }

  ion-card {
    background-color: #D3D3D3;
    display: initial;
}

  

