page-user {
    
    .item-md ion-avatar ion-img,
    .item-md ion-avatar img {
      border-radius: 50%;
      overflow: hidden;
      width: 70px;
      height: 70px;
    }

      #nome-perfil {
          text-align: right;
      }

  #botaologout {
      background-color: #FF0000
  }

}
