page-alterar-foto {
    ion-icon::before {
        display: inline-block;
        width: 60px;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
    }

    .right-button{
        float: right;
    }


    #icon1{
        width: 60px;
        color: #4a8bfc;
        font-size: -webkit-xxx-large;
        position: relative;
        left: 25%;
    }

    #icon2{
        
        width: 60px;
        color: #4a8bfc;
        font-size: -webkit-xxx-large;
        float: right;
        position: absolute;
        left: 65%;
    }

    ion-footer {
        height: 70px;
    }


}
