<!-- Generated template for the PostComponent component -->




<div id="card">
  <ion-card class="card-perfil">
    <ion-card-header>
      <strong> {{post.titulo}}</strong>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{post.mensagem}}
      </p>
      <ion-row>
        <ion-col>
          {{post.autor}}
        </ion-col>
        <ion-col> </ion-col>
        <ion-col id="data">
          {{data}}
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</div>