<!-- Generated template for the DetalhesComponent component -->



    <ion-header>

        <ion-navbar>
          <ion-title>{{exibirTitulo}}</ion-title>
        </ion-navbar>
      
      </ion-header>
      
<ion-content padding>
      <div class="card"> 
          <div class="item item-text-wrap">
              
              <h6>Autor: {{exibirAutor}}</h6>
              <h6>Data da Publicacao: {{exibirData}}</h6>
              <p>{{exibirPost}}</p>
          </div>
        </div>

      </ion-content>
